:root {
  --color-nemo: #ff4a11;
  --color-foam: #ffffff;
  --color-granite: #252629;
  --color-purple-45: #8336ff7b;
  --border-radius-small: 4px;
  --letter-spacing-small: 0.025em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}
